@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria-Thin.eot');
  src: local('../fonts/Geometria Thin'), local('../fonts/Geometria-Thin'), url('../fonts/Geometria-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/Geometria-Thin.woff') format('woff'), url('../fonts/Geometria-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria-MediumItalic.eot');
  src: local('../fonts/Geometria MediumItalic'), local('../fonts/Geometria-MediumItalic'), url('../fonts/Geometria-MediumItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Geometria-MediumItalic.woff') format('woff'), url('../fonts/Geometria-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria-Italic.eot');
  src: local('../fonts/Geometria Italic'), local('../fonts/Geometria-Italic'), url('../fonts/Geometria-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/Geometria-Italic.woff') format('woff'), url('../fonts/Geometria-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria-Heavy.eot');
  src: local('../fonts/Geometria Heavy'), local('../fonts/Geometria-Heavy'), url('../fonts/Geometria-Heavy.eot?#iefix') format('embedded-opentype'), url('../fonts/Geometria-Heavy.woff') format('woff'), url('../fonts/Geometria-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria-ExtraBoldItalic.eot');
  src: local('../fonts/Geometria ExtraBoldItalic'), local('../fonts/Geometria-ExtraBoldItalic'), url('../fonts/Geometria-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Geometria-ExtraBoldItalic.woff') format('woff'), url('../fonts/Geometria-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria-Medium.eot');
  src: local('../fonts/Geometria Medium'), local('../fonts/Geometria-Medium'), url('../fonts/Geometria-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Geometria-Medium.woff') format('woff'), url('../fonts/Geometria-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria-BoldItalic.eot');
  src: local('../fonts/Geometria BoldItalic'), local('../fonts/Geometria-BoldItalic'), url('../fonts/Geometria-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Geometria-BoldItalic.woff') format('woff'), url('../fonts/Geometria-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria-LightItalic.eot');
  src: local('../fonts/Geometria LightItalic'), local('../fonts/Geometria-LightItalic'), url('../fonts/Geometria-LightItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Geometria-LightItalic.woff') format('woff'), url('../fonts/Geometria-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria-HeavyItalic.eot');
  src: local('../fonts/Geometria HeavyItalic'), local('../fonts/Geometria-HeavyItalic'), url('../fonts/Geometria-HeavyItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Geometria-HeavyItalic.woff') format('woff'), url('../fonts/Geometria-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria.eot');
  src: local('../fonts/Geometria'), url('../fonts/Geometria.eot?#iefix') format('embedded-opentype'), url('../fonts/Geometria.woff') format('woff'), url('../fonts/Geometria.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria-Bold.eot');
  src: local('../fonts/Geometria Bold'), local('../fonts/Geometria-Bold'), url('../fonts/Geometria-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Geometria-Bold.woff') format('woff'), url('../fonts/Geometria-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria-ExtraBold.eot');
  src: local('../fonts/Geometria ExtraBold'), local('../fonts/Geometria-ExtraBold'), url('../fonts/Geometria-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Geometria-ExtraBold.woff') format('woff'), url('../fonts/Geometria-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria-ThinItalic.eot');
  src: local('../fonts/Geometria ThinItalic'), local('../fonts/Geometria-ThinItalic'), url('../fonts/Geometria-ThinItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Geometria-ThinItalic.woff') format('woff'), url('../fonts/Geometria-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria-ExtraLightItalic.eot');
  src: local('../fonts/Geometria ExtraLightItalic'), local('../fonts/Geometria-ExtraLightItalic'), url('../fonts/Geometria-ExtraLightItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Geometria-ExtraLightItalic.woff') format('woff'), url('../fonts/Geometria-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria-Light.eot');
  src: local('../fonts/Geometria Light'), local('../fonts/Geometria-Light'), url('../fonts/Geometria-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Geometria-Light.woff') format('woff'), url('../fonts/Geometria-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria-ExtraLight.eot');
  src: local('../fonts/Geometria ExtraLight'), local('../fonts/Geometria-ExtraLight'), url('../fonts/Geometria-ExtraLight.eot?#iefix') format('embedded-opentype'), url('../fonts/Geometria-ExtraLight.woff') format('woff'), url('../fonts/Geometria-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
html,
body {
  padding: 0;
  margin: 0;
}
body {
  background-image: url(../img/bg.jpg);
  background-color: #f5f5f5;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Geometria';
}
.nowrap {
  white-space: nowrap;
}
header {
  margin-bottom: 50px;
}
.body__title {
  font-size: 52px;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .body__title {
    font-size: 32px;
    text-align: center;
  }
}
.content__title {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 0;
}
.content__form {
  border: 2px solid #000000;
  background-color: #f5f5f585;
}
.content .form {
  padding: 40px;
}
@media screen and (max-width: 768px) {
  .content .form {
    padding: 10px;
  }
  .content .form__inline {
    flex-direction: column;
  }
  .content .form__inline-floor,
  .content .form__inline-born,
  .content .form__inline-sns,
  .content .form__inline-birthday,
  .content .form__inline-time,
  .content .form__inline-name {
    margin-bottom: 10px;
  }
  .content .form__inline-birthday {
    flex-direction: column;
  }
  .content .form__inline-birthday-day {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.content .form__inline {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}
.content .form__inline-floor,
.content .form__inline-born,
.content .form__inline-sns,
.content .form__inline-birthday,
.content .form__inline-time,
.content .form__inline-name {
  display: flex;
  align-items: center;
}
.content .form__inline-name,
.content .form__inline-born {
  width: 100%;
}
.content .form__inline-time {
  margin-left: 10px;
}
.content .form__inline-time-label {
  font-size: 12px;
  font-weight: 500;
}
.content .form__inline-label {
  font-size: 14px;
  font-weight: 500;
  margin-right: 10px;
}
.content .form__inline-input,
.content .form__inline-select {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
}
.content .form__inline-input {
  margin-right: 10px;
  width: 100%;
}
.content .form__inline-birthday-day,
.content .form__inline-birthday-hours {
  display: flex;
  align-items: center;
}
.content .form__inline-birthday-day {
  margin-right: 10px;
}
.content .form__inline-check {
  display: flex;
  align-items: center;
}
.content .form__inline-sns-check {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.menu {
  display: flex;
}
@media screen and (max-width: 768px) {
  .menu {
    flex-direction: column;
  }
  .menu__item {
    margin-bottom: 20px;
  }
}
.menu__item {
  list-style-type: none;
}
.menu__item-link {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
}
.menu__item-link:hover {
  background-color: #000;
  color: #fff;
}
